In [1]:
from GG_mthesis import *
# import metpy
# import metpy.calc as mpcalc
# from metpy.cbook import get_test_data
# from metpy.units import units
%matplotlib inline

In [2]:
os.getcwd()

'C:\\Users\\gian_\\repos\\mthesis_gianlucca'

## SOCAT

In [3]:
#df = pd.read_csv('data/01_raw/SOCATv2021_SouthernOceans.tsv', sep='\t', header=1232)

In [4]:
#df.to_csv('data/01_raw/dataset.csv')

In [2]:
from GG_mthesis.SOCAT_processing import SOCAT
df = SOCAT.read_dataset()

C:\Users\gian_\AppData\Local\Temp/ipykernel_5696/1022395331.py:2: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  df = SOCAT.read_dataset()

In [3]:
df

,Expocode,QC_Flag,yr,mon,day,hh,mm,ss,lon,lat,sample_depth [m],sal,T,Tequ [deg.C],WOA_SSS,ETOPO2_depth [m],dist_to_land [km]
0,69920201125,C,2020,11,25,15,19,0.0,-22.12505,-29.83483,NaN,35.877,20.515,NaN,35.977,4416.0,1000.0
1,69920201125,C,2020,11,25,15,20,0.0,-22.12586,-29.83753,NaN,35.876,20.475,NaN,35.977,4412.0,1000.0
2,69920201125,C,2020,11,25,15,21,0.0,-22.12660,-29.84023,NaN,35.855,20.472,NaN,35.977,4407.0,1000.0
3,69920201125,C,2020,11,25,15,22,0.0,-22.12762,-29.84286,NaN,35.847,20.491,NaN,35.977,4402.0,1000.0
4,69920201125,C,2020,11,25,15,23,0.0,-22.12907,-29.84536,NaN,35.846,20.507,NaN,35.977,4398.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7382221,QUIMA20061124,D,2006,11,27,17,26,0.0,18.11660,-33.69380,5.0,34.307,15.744,14.921,35.000,120.0,5.0
7382222,QUIMA20061124,D,2006,11,27,17,28,0.0,18.12820,-33.70420,5.0,34.261,15.927,14.750,35.000,119.0,4.0
7382223,QUIMA20061124,D,2006,11,27,17,30,0.0,18.13920,-33.71470,5.0,34.439,15.837,14.584,35.000,117.0,3.0
7382224,QUIMA20061124,D,2006,11,27,17,33,0.0,18.15020,-33.72500,5.0,34.592,15.631,14.167,35.000,116.0,2.0
7382225,QUIMA20061124,D,2006,11,27,17,40,0.0,18.18100,-33.75470,5.0,34.943,14.529,13.036,35.000,111.0,0.0

In [7]:
from GG_mthesis.d01_data.processing import rmap 
ax = rmap.plot_region()
ax.scatter(df['lon'], df['lat'], c='black', s=0.1,transform=ccrs.PlateCarree(), zorder=500)

In [4]:
df_sel = SOCAT.select_region(df)
df_sel = SOCAT.SA_CT_rho(df_sel)

c:\users\gian_\repos\mthesis_gianlucca\src\GG_mthesis\SOCAT_processing.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mm'][df['ss'] >= 60] = df['mm'][df['ss'] >= 60] + df['ss'][df['ss'] >= 60]/60
c:\users\gian_\repos\mthesis_gianlucca\src\GG_mthesis\SOCAT_processing.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ss'][df['ss'] >= 60] = df['ss'][df['ss'] >= 60] - 60
c:\users\gian_\repos\mthesis_gianlucca\src\GG_mthesis\SOCAT_processing.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hh'][df['mm'] >= 60] = df['hh'][df['mm'] >= 60] + df['mm'][df['mm'] >= 60]/60
c:\users\gian_\repos\mthesis_gianlucca\src\GG_mthesis\SOCAT_processing.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mm'][df['mm'] >= 60] = df['mm'][df['mm'] >= 60] - 60
c:\users\gian_\repos\mthesis_gianlucca\src\GG_mthesis\SOCAT_processing.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'][df['hh'] >= 24] = df['day'][df['hh'] >= 24] + df['hh'][df['hh'] >= 24]/24
c:\users\gian_\repos\mthesis_gianlucca\src\GG_mthesis\SOCAT_processing.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hh'][df['hh'] >= 24] = df['hh'][df['hh'] >= 24] - 24

In [5]:
df_sel

,Expocode,QC_Flag,lon,lat,sample_depth [m],sal,T,Tequ [deg.C],WOA_SSS,ETOPO2_depth [m],dist_to_land [km],datetime,SA,CT,rho
0,069920201226,C,-65.69527,-55.48119,NaN,34.007,6.607,NaN,33.723,2513.0,62.0,2021-01-05 07:41:00,34.167727,6.612854,1026.690934
1,069920201226,C,-65.69037,-55.47937,NaN,34.012,6.604,NaN,33.723,2567.0,62.0,2021-01-05 07:42:00,34.172751,6.609784,1026.695273
2,069920201226,C,-65.68552,-55.47758,NaN,34.010,6.603,NaN,33.723,2620.0,62.0,2021-01-05 07:43:00,34.170741,6.608811,1026.693829
3,069920201226,C,-65.68065,-55.47582,NaN,34.014,6.601,NaN,33.723,2653.0,62.0,2021-01-05 07:44:00,34.174760,6.606755,1026.697247
4,069920201226,C,-65.67589,-55.47419,NaN,34.014,6.596,NaN,33.723,2670.0,62.0,2021-01-05 07:45:00,34.174760,6.601753,1026.697908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340024,76XL20071224,C,-57.54330,-61.09450,NaN,33.838,3.810,4.31,33.942,3143.0,130.0,2008-02-04 11:18:42,34.000870,3.816493,1026.884176
340025,76XL20071224,C,-57.53410,-61.10400,NaN,33.838,3.870,4.37,33.942,3056.0,129.0,2008-02-04 11:21:05,34.000878,3.876521,1026.878192
340026,76XL20071224,C,-57.52480,-61.11360,NaN,33.839,3.870,4.37,33.942,2969.0,129.0,2008-02-04 11:23:28,34.001891,3.876512,1026.878994
340027,76XL20071224,C,-57.51530,-61.12310,NaN,33.839,3.870,4.37,33.942,2944.0,128.0,2008-02-04 11:26:12,34.001898,3.876511,1026.879000
340028,76XL20071224,C,-57.50540,-61.13420,NaN,33.840,3.890,4.39,33.942,2983.0,127.0,2008-02-04 11:28:35,34.002912,3.896511,1026.877796

In [ ]:
ax = rmap.plot_region()
ax.scatter(df_sel['lon'], df_sel['lat'], c='black', s=0.1,transform=ccrs.PlateCarree(), zorder=500)

In [ ]:
#ds = df_sel.set_index('Expocode').to_xarray().set_coords(['longitude','latitude'])
#ds.where(ds['Expocode'] == '76XL20071224', drop=True)

In [ ]:
#pd.MultiIndex.from_arrays([df_sel['datetime'], df_sel['Expocode']], names=['datetime', 'cruise'])

In [ ]:
df_sel.sort_values('datetime').reset_index()

In [ ]:
#SOCAT.save_cruises_to_disc(df_sel)

In [ ]:
from GG_mthesis.d01_data.processing import rmap 
ax = rmap.plot_region()
scat = ax.scatter(df_sel['lon'], df_sel['lat'], c=df_sel['datetime'], cmap='autumn', s=2)
cbar = plt.colorbar(scat, location='bottom', pad=0.05, ax=ax)
cbar.ax.set_xticklabels(pd.to_datetime(cbar.get_ticks()).strftime(date_format='%r %d %b'), rotation=22.5)

In [ ]:
%%capture
from GG_mthesis.d01_data.processing import rmap 
import os
confirm = input("Type 'YES' if you are sure you want to continue, this will take a while")
if confirm == "YES":
    cruise_id = df_sel['Expocode'].unique()
    for i in range(len(cruise_id)):    
        path = os.path.abspath('results/SOCAT/preprocess')
        filename = path + '/' + str(cruise_id[i]) + '.png'
        if os.path.isfile(filename) == False:
            df_aux = df_sel[df_sel['Expocode'] == cruise_id[i]]
            ax = rmap.plot_region()
            scat = ax.scatter(df_aux['lon'], df_aux['lat'], c=df_aux['datetime'], cmap='autumn', s=2)
            cbar = plt.colorbar(scat, location='bottom', pad=0.05, ax=ax)
            cbar.ax.set_xticklabels(pd.to_datetime(cbar.get_ticks()).strftime(date_format='%r %d %b'), rotation=22.5)
            plt.savefig(filename, format='png')
        else:
            continue